<p class="text-2xl text-slate-600 pb-6">
	Hi I'm Nickolas! Self taught web developer and curious human. This small piece of the web exists to share my ideas, projects, work, and other interesting things I discover.
</p>
<p class="text-2xl text-slate-600 pb-6">
	Currently I'm avaliable for hire for freelance web design and development projects. I've built websites for numerous businesses and creative agencies using modern web standards and popular tools like Wordpress and Webflow. This website was built from scratch using HTML5 and <a class="text-slate-600 font-bold hover:text-sky-600" href="https://tailwindcss.com">Tailwindcss</a> and <a class="text-slate-600 font-bold hover:text-sky-600" href="https://statamic.com/">Statamic</a>. 
</p>
<p class="text-2xl text-slate-600 pb-6">
	My skills continue to evolve and I enjoy the level of problem solving required to build things on the web. I'm not afraid to roll up my sleeves, tackle challenging technical problems, and figure things out. 
</p>
<p class="text-2xl text-slate-600">
	Overall my life is good. My days are spent reading, walking, thinking, hanging out with my wife, and working. I'm convinced there's more to life than accumulating wealth/status and my definition and approach to work continues to involve.
</p>

